//launcht variables

//colors
$launcht-primary-color: #79bcb0;
$launcht-white: #ffffff;
$launcht-white-50: #f1f2f2;
$launcht-grey: #dedede;
$launcht-grey-50: #f1f2f2;
$launcht-grey-80: #dcddde;
$launcht-grey-100: #a7a9ac;
$launcht-grey-150: #707070;
$launcht-grey-200: #e7edeb;
$launcht-secondary-blue: #153255;
$launcht-error-red: #c35454;
